parameters:
    level: 7
    paths: [ src ]
    ignoreErrors:
        - '#Class RdKafka\\TopicPartition constructor invoked with 3 parameters, 0 required#'
        - '#Parameter \#2 $schema of method Jobcloud\\Messaging\\Kafka\\Message\\Transformer\\AvroTransformerInterface::encodeValue\(\) expects AvroSchema, AvroSchema|null given#'
